<!-- app/views/events/_event.html.erb -->
<div class='user-event-container'>
  <h3 class='user-event-title'>
    <%= event.title %>
  </h3>
  <h4 class='user-event-location'>Location: <%= event.location %>
  </h4>
  <h4 class='user-event-date'>Date: <%= formatted_date %>
  </h4>
  <p class='user-event-description'>
    <%= event.description %>
  </p>
  <% if current_user == event.creator%>
    <%= link_to "Edit Event" , edit_event_path(event) %>
    <%= link_to "Invite Guests", new_event_attendance_path(event)%>
  <%end%>
</div>