<!-- app/views/events/_event.html.erb -->
<div class='user-event-container'>
  <h3 class='user-event-title'>
    <%= event.attended_event.title %>
  </h3>
  <h4 class='user-event-location'>Location: <%= event.attended_event.location %>
  </h4>
  <h4 class='user-event-date'>Date: <%= formatted_date %>
  </h4>
  <p class='user-event-description'>
    <%= event.attended_event.description %>
  </p>
  <% if event.invited_by_id %>
    <h4>Invited by: <%= Users.find(event.invited_by_id).name %></h4>
  <%end%>
  <h4>RSVP Status: <%=humanize_attendance_status(event.status || "No Response")%></h4>
  <h4>Response date: <%=event.updated_at%></h4>
</div>