<h1>
    Hello, <%= @user.name%>
</h1>


<h2>Your Events</h2>
<% if @user.created_events.any? %>
    <% @user.created_events.each do |event| %>
        <% formatted_date=event.date.strftime("%A, %B %-d, %Y, at (%H:%M)") %>
            <div class='user-event-container'>
                <h3 class='user-event-title'>
                    <%= event.title %>
                </h3>
                <h4 class='user-event-location'>Location: <%= event.location %>
                </h4>
                <h4 class='user-event-date'>Date: <%= formatted_date %>
                </h4>
                <p class='user-event-description'>
                    <%= event.description %>
                </p>
            </div>
            <% end %>
                <% end %>
                    <%= link_to 'Back' , root_path %>