<div class="event-form-container">
  <h1>New Event</h1>
  <h2>for <%= current_user.name %></h2>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error" ) %> prohibited this event from being saved:</h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: @event, html: { class: "event-form" } do |form| %>
    <div class="form-group">
      <%= form.label :title, "Title" %>
      <%= form.text_field :title, placeholder: "Your Event Title" %>
    </div>
    <div class="form-group">
      <%= form.label :date, "Date and Time" %>
      <%= form.datetime_local_field :date %>
    </div>
    <div class="form-group">
      <%= form.label :location, "Location" %>
      <%= form.text_field :location, placeholder: "8th Street House" %>
    </div>
    <div class="form-group">
      <%= form.label :description, "Description" %>
      <%= form.text_field :description, placeholder: "A party!" %>
    </div>
    <div class="form-group">
      <%= form.label :invite_only, "Invite Only?" %>
      <div class="radio_input">
        <%= form.radio_button :invite_only, true %>
        <%= form.label :invite_only_yes, "Yes" %>
      </div>
      <div class="radio_input">
        <%= form.radio_button :invite_only, false %>
        <%= form.label :invite_only_no, "No" %>
      </div>
    </div>
    <%= form.submit "Create Event", class: "btn btn-primary" %>
  <% end %>
</div>
<%= link_to 'Back', :back %>
