<h1>All Events</h1>

<% if @events.any? %>
    <% @events.each_with_index do |event, index| %>
        <% formatted_date=event.date.strftime("%A, %B %-d, %Y, at (%H:%M)") %>
            <div class='event-container'>
                <h3 class='event-title'>
                    <%= event.title %>
                </h3>
                <h4 class="event-creator">Hosted by: <%=event.creator.name %>
                </h4>
                <h4 class='event-location'>Location: <%= event.location %>
                </h4>
                <h4 class='event-date'>Date: <%= formatted_date %>
                </h4>
                <h4 class="event-rsvp-status">RSVP Status: <%=
                        humanize_attendance_status(@user_attendances[event.id]&.status) || "No Status" %>
                </h4>
                </h4>

                <%= link_to "See Details" , event_path(event) %>
            </div>
            <% end %>
                <% end %>