<!-- TODO: Fill In with partial 
    TODO: Update route to acommodate-->


<% if @events.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@events.errors.count, "error" ) %> prohibited this post from being saved:
        </h2>

        <ul>
            <% @events.errors.full_messages.each do |msg| %>
                <li>
                    <%= msg %>
                </li>
                <% end %>
        </ul>
    </div>
    <% end %>

        <%= form_with model: @event do |form| %>
            <%= label_tag(:title, "Title" ) %>
                <%= form.text_field :title, placeholder: "Your Event Title" %>
                    <br>
                    <%= label_tag(:date, "Date and Time" ) %>
                        <%= form.datetime_local_field :date %>
                            <br>
                            <%= label_tag(:location, "Location" ) %>
                                <%= form.text_field :location, placeholder: "8th Street House" %>
                                    <br>
                                    <%= label_tag(:description, "Description" ) %>
                                        <%= form.text_field :description, placeholder: "A party!" %>
                                            <%= form.submit %>
                                                <% end %>