<h1>
  <%= @event.creator.name%>'s Event
</h1>
<% formatted_date=@event.date.strftime("%A, %B %-d, %Y, at (%H:%M)") %>
<div class='event-container'>
  <h3 class='event-title'>
    <%= @event.title %>
  </h3>
</h4>
<h4 class='event-location'>Location: <%= @event.location %>
</h4>
<h4 class='event-date'>Date: <%= formatted_date %>
</h4>
<p class='event-description'>
  <%= @event.description %>
</p>
<%# if current_user.id == @event.creator_id%>
<% link_to "Edit Event" , edit_event_path(@event) %>
<%#end%>
<% if @user_attendance %>
  <p>RSVP Status: <%= humanize_attendance_status @user_attendance.status %>
  </p>
  <%= link_to 'Update RSVP' , edit_event_attendance_path(@event, @user_attendance) %>
<% else %>
  <%= link_to 'Add RSVP' , new_event_attendance_path(@event) %>
<% end %>
<%= link_to "Go Back" , root_path%>
</div>