<% if @attendance.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@attendance.errors.count, "error" ) %> prohibited this post from being saved:
    </h2>
    <ul>
      <% @attendance.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @event.creator == current_user%>
  <%= form_with model: [@event, @attendance], local: true do |form| %>
    <%= form.label :attendee_id %><br>
    <%= form.select :attendee_id, User.where.not(id: Attendance.select(:attendee_id).where(attended_event_id: @event.id)).where.not(id: current_user.id).map { |user| [user.name, user.id] }, { include_blank: false } %>
    <%= form.submit "Invite" %>
  <% end %>
<%else%>
  <%= form_with model: [@event, @attendance], local: true do |form| %>
    invited date: <%= @attendance.invited_date %>
    invited by:
    <%= form.label :status %><br>
    <%= form.select :status, Attendance.statuses.keys.map { |status| [status.titleize, status] }, {
                        include_blank: true } %>
    <%= form.label :comment %>
    <%= form.text_field :comment %>
    <%= form.submit "Submit" %>
  <% end %>
<%end%>
