<% if @attendances.any? %>
  <%# TODO: This is currently a shortcut, since i'm not allowing myself to attend my own events.%>
  <% @attendances.select {|attendance| attendance.attended_event.creator != current_user}.each do |attendance|  %>
    <h1><%= attendance.attended_event.title%></h1>
    <h2>Hosted by: <%= attendance.attended_event.creator.name%></h2>
    <h3>Date: <%=attendance.attended_event.date %></h3>
    <h3>Location: <%=attendance.attended_event.location %></h3>
    <h4>Description</h4>
    <p><%=attendance.attended_event.description%></p>
    <%if attendance.invited_by_id %>
      <h4>Invited by: <%=User.find(attendance.invited_by_id).name %> on <%=attendance.invited_date.to_date %></h4>
    <%end%>
    <div><strong>Your RSVP Status:</strong> <%= link_to humanize_attendance_status(attendance.status), 
    edit_event_attendance_path(attendance.attended_event,attendance)  %></div>
  <%end%>
<%end%>
<%# What do I want to show?  %>
<%# 1. Event Name
    2. Event date 
    3. Event info
    4. Who invited me
    5. My current RSVP Status
    6. Link to update my RSVP status
    %>
<%# How do I want to organize events? %>
<%# 1. All upcoming events that are not declined, by date
        2. Highlight events where I need to respond
        3. Events that I've declined that are upcoming %>