<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item home-link">
      <%= link_to "Home", root_path, class: "nav-link" %>
    </li>
    <li class="nav-grouping">
      <% if user_signed_in? %>
        <%= link_to "See User Events", user_path(current_user), class: "nav-link" %>
        <%= link_to "Edit User",  edit_user_registration_path(current_user), class: "nav-link" %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-button", id: "sign-out-button" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
      <%end%>
    </li>
  </ul>
</nav>